/* css styles */

.screenshot img {
    max-height: 500px;
}

.sketch img {
    width: 100%;
    padding: 2px;
    border: 2px solid #eee;
    margin-top: 10px;
}

.wordle img {
    max-height: 300px;
}